@model Kamulastirma.Models.Sozlesmeler

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sozlesmeler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kisi.KisiId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mulkiyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mulkiyet.MulkiyetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SozlesmeTuru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SozlesmeTuru.SozlesmeTuruId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SozlesmeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
