@model Kamulastirma.Models.Kisiler

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kisiler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HakSahibiNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HakSahibiNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TckimlikNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TckimlikNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KisiAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KisiAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KisiSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KisiSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DogumTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DogumTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VefatBool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VefatBool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VefatTarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VefatTarih)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KisiId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
